---
import { getCollection } from 'astro:content';

import RecipeList from '@components/RecipeList.astro';
import ContentWithCategoriesLayout from '@layouts/ContentWithCategoriesLayout.astro';

export const prerender = true;
const recipes = await getCollection('recipes', ({ data }) => {
    return import.meta.env.PROD ? data.published === true : true;
});

recipes.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime());

const categoriesMap: Record<string, number> = {};

recipes.forEach((recipe) => {
    recipe.data.categories.forEach((c) => {
        if (categoriesMap[c]) categoriesMap[c]++;
        else categoriesMap[c] = 1;
    });
});

const categories: { name: string; count: number }[] = [];

Object.keys(categoriesMap).forEach((categoryName) =>
    categories.push({
        name: categoryName,
        count: categoriesMap[categoryName],
    }),
);
---

<ContentWithCategoriesLayout
    title="Las Recetas de Pablo"
    slug="/"
    categories={categories}
>
    <Fragment slot="content">
        <section class="w-full">
            <h2>Sobre mi</h2>
            <p class="leading-relaxed md:text-lg">
                Soy un ingeniero de telecomunicaciones al que le gusta cocinar.
                Así que me he animado a crear esta página cómo repositorio de
                alguna de las recetas que me gustan y/o hago a menudo. Espero
                que las disfrutéis igual que yo.
            </p>
        </section>
        <section class="w-full">
            <h2>Recetas recientes</h2>
            <RecipeList recipes={recipes.slice(0, 5)} />
        </section>
    </Fragment>
</ContentWithCategoriesLayout>

<style>
    h2 {
        @apply text-lg text-theme-red-400 sm:text-xl md:text-2xl lg:text-3xl font-bold mt-2 mb-1 lg:mt-3 lg:mb-2;
    }
</style>
