---
import { getCollection } from 'astro:content';

import RecipeList from '@components/RecipeList.astro';
import ContentWithCategoriesLayout from '@layouts/ContentWithCategoriesLayout.astro';
import { getCategoriesFromRecipes } from '@lib/categories';

export const prerender = true;
const recipes = await getCollection('recipes', ({ data }) => {
    return import.meta.env.PROD ? data.published === true : true;
});

recipes.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime());

const categories = getCategoriesFromRecipes(recipes);
---

<ContentWithCategoriesLayout
    title="Las Recetas de Pablo"
    slug="/"
    categories={categories}
    description="¿Buscando inspiración para nuevas recetas? Mira algunas de mis recetas favoritas y prueba alguna nueva."
>
    <section class="w-full">
        <h2>Sobre mi</h2>
        <p class="leading-relaxed md:text-lg">
            Soy un ingeniero de telecomunicaciones al que le gusta cocinar. Así
            que me he animado a crear esta página cómo repositorio de alguna de
            las recetas que me gustan y/o hago a menudo. Espero que las
            disfrutéis igual que yo.
        </p>
    </section>
    <section class="w-full">
        <h2>Recetas recientes</h2>
        <RecipeList recipes={recipes.slice(0, 5)} />
    </section>
    <div class="mt-3 w-full text-center">
        <a
            href="/pagina/1"
            class:list={[
                'bg-theme-red-100 px-2 py-1 inline-block w-full text-center font-medium rounded-sm hover:bg-theme-red-400 hover:text-white',
                'sm:w-auto sm:min-w-[300px] px-3 py-2',
                'md:text-lg',
                'lg:font-semibold',
            ]}
        >
            Ver más...
        </a>
    </div>
</ContentWithCategoriesLayout>

<style>
    h2 {
        @apply text-lg text-theme-red-400 sm:text-xl md:text-2xl lg:text-3xl font-bold mt-2 mb-1 lg:mt-3 lg:mb-2;
    }
</style>
