.recipe-info {
    @apply pl-6 pr-4 pt-5;
    transform: translateX(100%);
    max-width: calc(100% - 50px);
}

.recipe-info[data-open='true'] {
    transform: translateX(0);
}

.recipe-info button {
    transform: translate(-30px, -50%);
}

.touch .recipe-info button {
    transform: translateX(-43px);
}

@screen sm {
    .recipe-info {
        max-width: 320px;
    }
}

@screen lg {
    .recipe-info {
        @apply p-0 transform-none;
        max-width: initial;
    }
}
