---
interface Props {
    name: string;
    count: number;
    highlight?: boolean;
}

const { name, count, highlight = false } = Astro.props;
---

<a
    href={`/categoria/${name.toLocaleLowerCase()}`}
    aria-current={highlight ? 'true' : 'false'}
>
    {name} - {count}
</a>

<style>
    a {
        @apply border border-theme-teal-600 rounded-full px-2 text-theme-teal-600 text-sm hover:bg-theme-teal-600 hover:text-theme-grey-900 transition-colors;
    }

    a[aria-current='true'] {
        @apply font-bold border-2 text-theme-red-600 border-theme-red-600 hover:bg-theme-red-600 hover:text-white;
    }
</style>
