---
import CategoryBadge from './CategoryBadge.astro';

interface Props {
    categories: string[];
}

const { categories } = Astro.props;
---

<nav>
    <h1>Categorías</h1>
    <ul class="flex flex-col flex-wrap">
        {
            categories.map((category) => (
                <li>
                    <CategoryBadge name={category} />
                </li>
            ))
        }
    </ul>
</nav>
