---
import { FaGithub } from 'react-icons/fa';
---

<footer
    class="mt-9 sm:mt-11 md:mt-12 lg:mt-14 mb-10 text-gray-600 text-center text-sm"
>
    <p>
        También puedes ver mi página web en{' '}
        <a
            class="hover:text-theme-red-500 underline transition-colors duration-150"
            href="https://pablopugaperalta.com"
            title="Mi página web"
        >
            pablopugaperalta.com
        </a>
    </p>
    <p class="mt-1 flex flex-row items-center justify-center">
        Version {import.meta.env.npm_package_version} hecha por{' '}
        <FaGithub className="inline-block align-text-top ml-1 mr-1" />
        <a
            href="https://github.com/pablo-puga"
            class="hover:text-theme-red-500 underline transition-colors duration-150"
            title="Mi página de GitHub"
        >
            pablo-puga
        </a>
    </p>
</footer>
