---
import { GoSquareFill } from 'react-icons/go';

interface Props {
    title?: string;
    items: string[];
}

const { title, items } = Astro.props;
---

<article class="ingredients">
    {title && <h3>{title}</h3>}
    <ul class="mt-2">
        {
            items.map((ingredient) => (
                <li>
                    <GoSquareFill className="text-theme-grey-200" />{' '}
                    {ingredient}
                </li>
            ))
        }
    </ul>
</article>
