---
import { GoSquareFill } from 'react-icons/go';

interface Props {
    title?: string;
    items: string[];
}

const { title, items } = Astro.props;
---

<article class="ingredients">
    {title && <h1>{title}</h1>}
    <ul class="mt-2">
        {
            items.map((ingredient) => (
                <li>
                    <GoSquareFill className="text-theme-grey-light" />{' '}
                    {ingredient}
                </li>
            ))
        }
    </ul>
</article>
