---
import { Image } from 'astro:assets';
import clsx from 'clsx';

import type { CollectionEntry } from 'astro:content';
import type { CSSProperties } from 'react';
import '../styles/recipe-content.css';

interface Props {
    recipe: CollectionEntry<'recipes'>;
    className?: string;
    style?: CSSProperties;
}

const { recipe, className, style } = Astro.props;
const { title, cover } = recipe.data;
---

<article class={clsx('px-2', className)} style={{ ...style }}>
    {
        cover && (
            <Image
                src={cover}
                alt={`Imagen de cabecera de ${title}`}
                class="mb-10"
            />
        )
    }
    <section class="recipe-content first:-mt-2">
        <slot />
    </section>
</article>
