---
import clsx from 'clsx';
import { GiForkKnifeSpoon } from 'react-icons/gi';

interface Props {
    portions: number;
    units?: string;
    className?: string;
}

const { portions, units, className } = Astro.props;
---

<div class={clsx('flex flex-col', className)}>
    <span class="text-xl font-semibold">
        {portions > 1 ? 'Raciones' : 'Ración'}
    </span>
    <span class="flex flex-row items-center gap-2">
        <GiForkKnifeSpoon className="icon text-theme-teal-600" />
        {portions}{' '}
        {units && `(${units})`}
    </span>
</div>
