---
import type { MarkdownHeading } from 'astro';

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav class="flex flex-col">
    <h1 class="text-xl font-medium">Tabla de contenidos</h1>
    <ul class="flex flex-col gap-2 mt-2">
        {
            headings.map(({ depth, slug, text }) => (
                <li data-level={depth}>
                    <a href={`#${slug}`}>{text}</a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    li {
        @apply font-medium text-theme-coral;
    }

    li[data-level='1'] {
        @apply font-semibold text-theme-red;
    }

    li[data-level='2'] {
        @apply pl-2;
    }

    li[data-level='3'] {
        @apply pl-4;
    }

    li[data-level='4'] {
        @apply pl-6;
    }

    li[data-level='5'] {
        @apply pl-8;
    }

    li[data-level='6'] {
        @apply pl-10;
    }
</style>
