---
import clsx from 'clsx';
import { FaRegClock } from 'react-icons/fa6';

interface Props {
    prepTime: number;
    cookTime: number;
    className?: string;
}

const { prepTime, cookTime, className } = Astro.props;
---

<ul class={clsx('flex flex-row gap-3', className)}>
    <li class="border-r-2 border-theme-red-200 pr-3">
        <article>
            <h1 class="text-xl font-semibold">Tiempo de preparación</h1>
            <span class="flex flex-row items-center gap-2">
                <FaRegClock className="text-theme-red-500" />
                {prepTime} min
            </span>
        </article>
    </li>
    <li>
        <article>
            <h1 class="text-xl font-semibold">Tiempo de cocinado</h1>
            <span class="flex flex-row items-center gap-2">
                <FaRegClock className="text-theme-red-500" />
                {cookTime} min
            </span>
        </article>
    </li>
</ul>
