---
import { Image } from 'astro:assets';

import Search from './Search';
---

<header
    class="h-12 z-[55] w-full fixed top-0 flex flex-row items-center px-2 bg-theme-grey-100 shadow gap-6"
>
    <Image
        src="/img/icon/icon-512x512.png"
        alt="Logo de Las Recetas de Pablo"
        width="512"
        height="512"
        class="h-6 sm:h-8 w-auto"
    />
    <span
        class="text-base font-medium sm:font-bold grow sm:text-xl overflow-hidden text-ellipsis whitespace-nowrap"
    >
        <a href="/">Las Recetas de Pablo</a>
    </span>
    <Search client:idle className="search-box justify-self-end" />
</header>

<noscript>
    <style type="text/css" is:inline>
        .search-box {
            display: none;
        }
    </style>
</noscript>

<style>
    a {
        @apply transition-all block hover:-translate-y-1 hover:drop-shadow hover:text-red-800;
    }
</style>
