---
interface Props {
    title: string;
    description?: string;
}

const { title, description = 'Las Recetas de Pablo' } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="noarchive" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/img/icon/icon512x512.png" />
        <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
        <slot name="head" />
    </head>
    <body class="bg-theme-white text-theme-black">
        <slot />
    </body>
</html>

<style is:global>
    @import '../styles/opensans-font.css';

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    * {
        @apply box-border outline-none font-opensans;
    }
</style>
